.profile-section {
    background: rgb(8, 3, 46);
    min-height: 100vh;
}

.profile {
    background: rgb(10, 24, 172);
    min-width: 350px;
    border: 1px solid #fff;
    margin-bottom: 1rem;
    img {
        width: 10rem;
        height: 7rem;
    }
    .icon {
        color: #fff;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}
